

{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

<div class="container">


<h1>Intel Links:</h1>
<br>


<h4><a href="https://inteltechniques.com/links.html" target="_blank">IntelTechniques</a><small> - Collection of OISNT Search Tools</small></h4>  

<br>

<h4><a href="https://www.instantcheckmate.com/" target="_blank">InstantCheckmate</a><small> - Public Records Search Service</small></h4>  

<br>

<h4><a href="{% url 'index' %}" target="_blank">Pipl</a><small> - Pipl People Search</small></h4>  

<br>

<h4><a href="https://login.publicdata.com/" target="_blank">PublicData</a><small> - Public Records Search Service</small></h4>  

<br>

<h4><a href="https://www.truecaller.com/" target="_blank">TrueCaller Phone Search</a><small> - Phone Number Lookup</small></h4>  

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>


<br>

</div>
  
{% endblock %}